* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .home-bg {
    background: 
        linear-gradient(to bottom, rgba(229, 229, 229, 0.5), rgba(229, 229, 229, 0.5)),   url("Images/rsz_1rsz_1rsz_1house2.jpg")
    no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
  } 

 /* .home-bg::before {
    content: "";
    background: url("Images/rsz_1rsz_1rsz_1house2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}  */

.secondary-bg {
    background: #d1c5ab;
    width: 100%;
    height: 100%;
}

nav {
    background-color: #1C3F21;
    list-style: none;
    clear: both;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    flex-direction: flex-start;
}

nav li {
    display: inline-block;
    margin: 0 20px 13px 43px;
}

nav a {
    color:rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 19px;
}

nav a:hover {
    color: rgba(255, 255, 255, 1); 
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;

}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }

  ul.breadcrumb li a {
    color: #657866;
    text-decoration: none;
  }

  ul.breadcrumb li a:hover {
    color: #1C3F21;
  }

.burger div {
    width: 25px;
    height: 3px;
    background: rgb(235, 231, 231);
    margin: 6px 0;
    border-radius: 40px;
}

#burger {
    float: right;
    visibility: hidden;
    margin: 5px;
}


.heading {
    text-align: center;
    background-color: rgba(255, 253, 242, 0.6);
    padding: 14px;
    margin-top: 61px;
}

.heading h1 {
    font-size: 48px;
}

.heading h2 {
    font-size: 24px;
}

.subheading {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
}

.subheading img {
    width: 80px;
    height: 80px;
}

 .resource-info {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.link-text {
    width: 50%;
}

#locator {
    font-size: 1em;
}

.resource-info a {
    color: #1C3F21;
    font-size: 1.5em;
}

.resource-info p {
    font-size: 1em;
}

.resource-info a:hover {
    color: #b84d00;
}

.startHere {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.start {
    text-align: center;
    border-radius: 50px;
    font-size: 36px;
    background-color: #b84d00;
    padding: 20px 40px;
    color: #fffdf2;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.start:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #7d3400;
}
/****************/
 /* Start Page*/
 /***************/
.start-info {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}


.resource-type {
    text-align: center;
    font-size: 2em;
}

.resource-links {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 40px;
    background-color: #646F4B;
    margin: 10px;
    color: #fffdf2;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.5em;
    max-width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
}

.card:hover {
    background: #50583C;

}

.printables {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.print {
    text-align: center;
    border-radius: 55px;
    font-size: 23px;
    background-color: #b84d00;
    padding: 13px 40px;
    color: #fffdf2;
    cursor: pointer;
}

.print:hover {
    background-color: #7d3400;
}
/****************/
 /* Contact Page*/
 /***************/

 form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
    width: 100%;
    flex-flow: row-wrap; 
    justify-content: center;
    align-items: center;
  }
  
 .form-container {
    width: 100%;
    align-items: center;
    justify-items: space-evenly;
  }
  
  .firstcontainer {
    flex: 0 1 auto;
    flex-wrap: wrap;
    align-content: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 15px;
    color: #1C3F21;
  }
  
  .form-item {
    width: 35%;
    min-width: 250px;
    max-width: 35%;
    flex: 0 1 auto;
    flex-wrap: wrap;
  }
  
  .label-container {
    width: 25%;
    flex: 0 1 auto; 
    display: inline-flex;
    min-width: 100px;
    max-width: 30%;
    flex-wrap: wrap;
  }
  
  .input-container {
    width: 70%;
    flex: 0 1 auto;
    flex-wrap: wrap;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    align-content: space-between;
  }
  
  .secondcontainer {
    flex: 0 0 auto;
    width: auto;
    padding: 15px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: auto;
  
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 5px;
    color: #1C3F21;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #b84d00;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    font-size: .75em;
    flex: 1 1 auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    min-width: 75px;
  }
  
  input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
   /* Style inputs, select elements and textareas */
   input[type=text], select, textarea {
    width: 70%;
    padding: 10px;
    color: #404e4d;
    border: 2px solid #404e4d;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-evenly;
  }
  

    .fa {
      margin-right:5px;
    }
  
  
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1C3F21;
    color: #fffdf2;
    height: 50px;
}

div.footer,
a {
    color: rgba(255, 255, 255, 0.7);
    padding: 15px 20px;
    text-decoration: none;
}

div.footer a:hover {
    color: rgba(255, 255, 255, 1);
}

a:active {
    color: #1C3F21;
}
/*background color for resource and contact pages*/
.resource-body {
    background-color: #fff9e6;
}

/*printables page*/
.link-text img {
    padding-top: 20px;
    width: 80px;
    height: 100px;
}

