body,
html {
    font-family: ;
    height: 100%;
    box-sizing: border-box;
    background-image: url("Images/rsz_1rsz_1rsz_1house2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}